---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap",
  "dc",
  "graphic"
;

svg {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#legend {
  font-size: 1.2rem;
}

.desc-wrapper {
  height: 100px;
  padding: 10px;
  background: #F0F0F0;
}

.btn {
  height: 100px;
  line-height: 4.5;
}

.text-bold {
  font-weight: 600;
}

@media (max-width: 75em) {
  .desc-wrapper {
    height: 140px;
  }
  .btn {
    height: 140px;
    line-height: 6;
  }
}

@media (max-width: 62em) {
  p {
    font-size: 0.8rem;
  }
  svg {
    font-size: 0.9rem;
  }
}

@media (max-width: 48em) {
  .desc-wrapper {
    height: 160px;
  }
  .btn {
    height: 160px;
    line-height: 8;
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 34em) {
  p {
    font-size: 0.7rem;
  }
}