---
layout: default
title: Tumult at the Top
---
<div class="container graphic-container">
  <div class="row graphic-top">
    <div class="col-md-8 offset-md-2">
      <h1>{{ page.title }}</h1>
      <p class="byline">By <a href="http://www.dailycal.org/author/schinoy">SAHIL CHINOY</a> &middot; November 21, 2016</p>
      <p><b>Related story:</b> <a href="http://www.dailycal.org/2016/11/20/administrative-exodus/">Administrative Exodus</a></p>
    </div>
  </div>
  <div class="row">
    <div style="text-align: right;" class="col-xs-2">
      <btn id="prev-btn" class="btn btn-secondary disabled" onclick="previous()">&lsaquo;</btn>
    </div>
    <div style="text-align: center;" class="desc-wrapper col-xs-8">
      <p id="desc"></p>
    </div>
    <div style="text-align: left;" class="col-xs-2">
      <btn id="next-btn" class="btn btn-secondary" onclick="next()">&rsaquo;</btn>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% include chart.svg %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <hr>
      <p>Text credit: <a href="http://www.dailycal.org/author/aiscoe/">Adam Iscoe</a></p>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
/*
 * Wrap a block of SVG text to a given width
 * adapted from http://bl.ocks.org/mbostock/7555321
 */
var wrapText = function(texts, width, lineHeight) {
    texts.each(function() {
        var text = d3.select(this);
        var words = text.text().split(/\s+/).reverse();

        var word = null;
        var line = [];
        var lineNumber = 0;

        var x = text.attr('x');
        var y = text.attr('y');

        var dx = text.attr('dx') ? parseFloat(text.attr('dx')) : 0;
        var dy = text.attr('dy') ? parseFloat(text.attr('dy')) : 0;

        var tspan = text.text(null)
            .append('tspan')
            .attr('x', x)
            .attr('y', y)
            .attr('dx', dx + 'px')
            .attr('dy', dy + 'px');

        while (word = words.pop()) {
            line.push(word);
            tspan.text(line.join(' '));

            if (tspan.node().getComputedTextLength() > width) {
                line.pop();
                tspan.text(line.join(' '));
                line = [word];

                lineNumber += 1;

                tspan = text.append('tspan')
                    .attr('x', x)
                    .attr('y', y)
                    .attr('dx', dx + 'px')
                    .attr('dy', lineNumber * lineHeight)
                    .attr('text-anchor', 'begin')
                    .text(word);
            }
        }
    });
}

// Globals
var data = {% include data.json %};
var currentIndex = 1,
    frameCount = Object.keys(data).length,
    highlightColor = '#f39075',
    activeColor = '#B2C9FF',
    defaultColor = '#fffaed';

(function initialize() {
  _.forEach(data['1']['positions'], function(val, key) {

    d3.select('#' + key + '-title').attr('display','none');
    d3.select('#' + key + '-name').attr('display','none');
    
    var rect = d3.select('#' + key + '-rect');
    rect.attr('fill', defaultColor);
    var width = rect.attr('width') - 40;

    var x = parseFloat(rect.attr('x'));
    var y = parseFloat(rect.attr('y'));
    var height = parseFloat(rect.attr('height'));

    var title = d3.select('#' + key)
      .append('text')
      .attr('x',x+20)
      .attr('y',y+30)
      .attr('id', key + '-title')
      .classed('text-bold', true);

    wrapText(title, width, '30px');

    var name = d3.select('#' + key)
      .append('text')
      .attr('x',x+20)
      .attr('y',y+height-20)
      .attr('id', key + '-name');
  });
})();

function loadFrame(index) {
  var date = data[index.toString()]['date'];

  // Build description
  var html = ''
  if (date) {
    html = html + '<b>' + date + ':</b> ';
  }
  html = html + data[index.toString()]['desc'];
  var link = data[index.toString()]['link'];
  if (link) {
    html = html + ' <a target="_blank" href="' + link + '">Read more &raquo;</a>';
  }
  //Update description 
  $('#desc').html(html);

  _.forEach(data[index.toString()]['positions'], function(val, key) {
    
    var rect = d3.select('#' + key + '-rect');
    var width = rect.attr('width') - 40;

    var x = parseFloat(rect.attr('x'));
    var y = parseFloat(rect.attr('y'));
    var height = parseFloat(rect.attr('height'));

    var title = d3.select('#' + key + '-title')
      .text(val['title']);
    wrapText(title, width, 20);

    var name = d3.select('#' + key + '-name')
      .text(val['name']);

    if (val['rect'] == 'highlight') {
      rect.transition().duration(1000).attr('fill', highlightColor);
    } else if (val['rect'] == 'active') {
      rect.transition().duration(1000).attr('fill', activeColor);
    } else {
      rect.attr('fill', defaultColor).attr('opacity', 1);
    }

    if (val['rect'] == 'inactive') {
      rect.attr('opacity', 0.1);
      title.attr('fill', '#e5e5e5');
    } else {
      rect.attr('opacity', 1);
      title.attr('fill', '#000');
    }
  });
}

// Load the first frame
loadFrame(currentIndex);

// Functions to advance left and right
function previous() {
  if (currentIndex > 1) {
    currentIndex = currentIndex - 1;
    loadFrame(currentIndex);
  }
  enableButtons();
}

function next() {
  if (currentIndex < frameCount) {
    currentIndex = currentIndex + 1;
    loadFrame(currentIndex);
  }
  enableButtons();
}

// Deal with button styles
function enableButtons() {
  var prevBtn = $('#prev-btn');
  var nextBtn = $('#next-btn');
  if (currentIndex == 1) {
    prevBtn.addClass('disabled');
    nextBtn.removeClass('disabled');
  } else if (currentIndex == frameCount) {
    prevBtn.removeClass('disabled');
    nextBtn.addClass('disabled');
  } else {
    prevBtn.removeClass('disabled');
    nextBtn.removeClass('disabled');
  }
}

// Scroll to description text on button lick
$(".btn").click(function() {
  $('html, body').animate({
      scrollTop: $(".desc-wrapper").offset().top
  }, 500);
})

// Set up keyboard event listener
document.onkeydown = checkKey;
function checkKey(e) {
    e = e || window.event;

    if (e.keyCode == '37') {
       // left arrow
       previous();
    }
    else if (e.keyCode == '39') {
       // right arrow
       next();
    }
}
</script>