.graphic-top {
  margin-top: 15px;
  text-align: center;

  h1 {
    font-size: 3rem;

    @media screen and (max-width: 34em) {
      font-size: 2rem;
    }
  }

  .byline {
    font-size: 0.9rem;
  }
}

.graphic-container .row {
  margin: 20px auto;
}